# Dependencies
/node_modules
node_modules
node_modules/

# Example dependencies
examples/**/package.json
examples/**/package-lock.json
examples/**/node_modules/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
